<div class="row">
  <div class="col-md-6">
    <div id = "saved-translations" class="panel panel-primary table-panel">

        <input type="file" id="savedTrans-file" style="display: none">
      <div class="panel-heading">
        <span data-translate="savedTranslations">Saved Translations</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="User can save translations using the context menu and can even limit the translations to this list only"></span>
        <button type="button" data-toggle="modal" data-target="#savedTranslationsModal" class="btn btn-warning pull-right btn-xs" style="margin-right: 5px">
          <span data-translate="videoTutorial">Video Tutorial</span>
        </button>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" ng-model="opctrl.original" class="form-control">
          <span class="input-group-addon">:</span>
          <input type="text" ng-model="opctrl.translated" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="submit" ng-click="opctrl.saveTranslation()" data-translate="add">Add</button>
          </span>
        </div>
      </div>
      <div ng-show="opctrl.savedTranslationList.length === 0" class="text-center vertical-center-table">
          <h5 class="text-muted"><span class="glyphicon glyphicon-exclamation-sign"></span> <span data-translate="noSavedTranslations">No Saved Translations</span></h5>
      </div>
      <div style="height: 300px; overflow: scroll;">
        <table class="table table-list" ng-hide="opctrl.savedTranslationList.length === 0">
          <thead>
            <tr>
              <th><span data-translate="original">Original</span></th>
              <th><span data-translate="translated">Translated</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr lazy-scroll="paginationFuntion()" lazy-scroll-trigger="80" ng-repeat="translation in opctrl.savedTranslationList">
              <td>{{translation[0]}}</td>
              <td>{{translation[1]}}</td>
              <td>
                <span class="pull-right">
                  <button class="btn btn-warning" ng-click="opctrl.removeSavedTranslation(translation[0])">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div id = "learnt-words" class="panel panel-success list-panel">
      <div class="panel-heading">
        <span data-translate="learntWords">Learnt Words</span>
        <input type="file" id="learnt-file" style="display: none">
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="The user can mark the words he/she knows as learnt. These words won't be translated."></span>
        <button type="button" data-toggle="modal" data-target="#learntWordsModal" class="btn btn-warning pull-right btn-xs" style="margin-right: 5px">
          <span data-translate="videoTutorial">Video Tutorial</span>
        </button>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="opctrl.newLearntWord" id="new-learnt-word" placeholder="and">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="submit" ng-click="opctrl.addLearntWord()" data-translate="add">Add</button>
          </span>
        </div>
      </div>
      <div ng-show="opctrl.learntWords.length === 0" class="text-center vertical-center-list">
        <h5 class="text-muted"><span class="glyphicon glyphicon-exclamation-sign"></span> <span data-translate="noWordsLearnt">No Words Learnt</span></h5>
      </div>
      <ul class="list-group list-min-size" ng-hide="opctrl.learntWords.length === 0" style="height: 260px; overflow-y: scroll;">
        <li class="list-group-item clearfix" lazy-scroll="paginationFuntion()" lazy-scroll-trigger="80" ng-repeat="word in opctrl.learntWords">{{word}}
          <span class="pull-right">
            <button class="btn btn-warning" ng-click="opctrl.removeLearntWord(word)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Youtube Video Modals-->

<div id="savedTranslationsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe src="https://player.vimeo.com/video/209929019?byline=0" width="100%" height="80%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div id="learntWordsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe src="https://player.vimeo.com/video/209928817?byline=0" width="100%" height="80%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
